<%= form_for(@need) do |f| %>
<%#= form_for(:need, @need,:url=>need_path(@need),:html=>{:multipart=>'ture', :method=>(@need.new_record?? :post : :put)}) do |f| %>
<%#= form_for(@post, :html=>{:multipart=>'true'}) do |f| %>
  <% if @need.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@need.errors.count, "error") %> prohibited this need from being saved:</h2>

      <ul>
      <% @need.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  

<!--h2> 原始需求记录&澄清</h2 -->
    <%= render 'clarify' %>


<h2> 需求评审记录</h2 >
<hr>
<div class="field">
    <%= f.label "评审人员名单" %><br />
    <%= f.text_field :reviewer %>
  </div>
  
  <div class="field">
    <%= f.label "需求评审历史记录(和后面的评审意见两者取其一)" %><br />
    <%= f.text_area :r_opinion , :cols=>90, :rows=> 3,  :readonly => 'readonly' %>
  </div>
    
  <div class="field">
    <%= f.label "评审意见（只有在要评论的时候才出现，评完即消失）" %><br />
    <%= f.text_area :new_opinion , :cols=>90, :rows=> 2 %>
  </div>
  
  <div class="field">
    <%= f.label "评审结论" %><br />
    <%= f.radio_button :r_conclusion, '通过' %>通过<br/>
    <%= f.radio_button :r_conclusion, '保留通过' %>保留通过<br/>
    <%= f.radio_button :r_conclusion, '不通过' %>不通过<br/>
  </div>
  
  <div class="field">
    <%= f.label "最终评审结果" %><br />
    <%= f.radio_button :r_result, '通过' %>通过<br/>
    <%= f.radio_button :r_result, '保留通过' %>保留通过<br/>
    <%= f.radio_button :r_result, '不通过' %>不通过<br/>
  </div>
  
  <div class="actions">
  <%= f.submit "提交评论" %>
  </div> 
  
<% end %>