<!--处理需求,在学习Rails的让控制器选择章节好像可以将视图的选择交由控制器处理 -->


<% if @need.status.nil? or @need.status=="草稿" %>
  <%= render 'form' %>
  
<% elsif @need.status=="待澄清" %>
  <%= render 'clarify' %>

<% elsif @need.status=="待评论" %>
  <%= render 'clarify' %>

<% elsif @need.status=="待评审" %>
  <%= render 'review' %>

<% elsif @need.status=="待分配" %>
  <%= render 'all-form' %>

<% end %>

<hr>
<p> 下面代码仅适用于提交澄清 </p>

<%= link_to '提交', :action=>'submit', :id=>@need.id %>

<%= link_to '返回', needs_path %>

