<!--编辑需求 -->

<% form_for(@need) do |f|  %>

<% if @need.status.blank? or @need.status=="草稿" %>
  <%= render :partial=>'form', :locals=>{:f=>f}  %>
  
<% elsif @need.status=="待澄清" %>
  <%= render :partial=>'form', :locals=>{:f=>f} %>
  <%= render :partial=>'clarify' , :locals=>{:f=>f} %>

<!--% elsif @need.status=="待评论" %-->


<% end %>


<!--p> 下面这个更新按钮是保存整个页面 </p-->

<%#= f.submit %>


  <div class="actions">
    <%= submit_tag "保存" %>
  </div> 

<% end %>


<%= link_to '返回', needs_path %>






