<p id="notice"><%= notice %></p>

<p>
  <b>需求名称:</b>
  <%= @need.title %>
</p>

<p>
  <b>需求描述:</b>
  <%= @need.description %>
</p>

<p>
  <b>提出人:</b>
  <%= @need.submitter %>
</p>

<p>
  <b>提出人信息:</b>
  <%= @need.submitter_info %>
</p>

<p>
  <b>最终需求描述:</b>
  <%= @need.final_req %>
</p>

<p>
  <b>需求状态:</b>
  <%= @need.status %>
</p>


<%= link_to '编辑', edit_need_path(@need) %> |
<%= link_to '返回', needs_path %>
