<%= form_for(@bg_setup) do |f| %>
  <% if @bg_setup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bg_setup.errors.count, "error") %> prohibited this bg_setup from being saved:</h2>

      <ul>
      <% @bg_setup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "需求状态" %><br />
    <%= f.text_field :bg_status %>
  </div>
  <div class="field">
    <%= f.label "产品线" %><br />
    <%= f.text_field :bg_productline %>
  </div>
  <div class="field">
    <%= f.label "角色" %><br />
    <%= f.text_field :bg_role %>
  </div>
  <div class="field">
    <%= f.label "部门" %><br />
    <%= f.text_field :br_dept1 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
