<h1>后台参数列表</h1>
<hr/>

<table>
<% @bg_setups.each do |bg_setup| %> 
  <tr>
    <td><%= link_to '查看', bg_setup %></td>
    <td><%= link_to '编辑', edit_bg_setup_path(bg_setup) %></td>
    <td><%= link_to '删除', bg_setup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
 
  <tr>
    <th>需求状态列表</th>
    <td><%= bg_setup.bg_status %></td>
   </tr> 
   
   <tr>
    <th>产品线列表</th>
    <td><%= bg_setup.bg_productline %></td>
  </tr> 
   
   <tr>
    <th>角色列表</th>
    <td><%= bg_setup.bg_role %></td>
  </tr> 
   
   <tr>
    <th>部门列表</th>
    <td><%= bg_setup.br_dept1 %></td>
    </tr> 
  
<% end %>
</table>

<br />

<%#= link_to 'New Bg setup', new_bg_setup_path %>
<%= link_to '返回主页', needs_path %>
