<p id="notice"><%= notice %></p>

<p>
  <b>Bg status:</b>
  <%= @bg_setup.bg_status %>
</p>

<p>
  <b>Bg productline:</b>
  <%= @bg_setup.bg_productline %>
</p>

<p>
  <b>Bg role:</b>
  <%= @bg_setup.bg_role %>
</p>

<p>
  <b>Br dept1:</b>
  <%= @bg_setup.br_dept1 %>
</p>


<%= link_to 'Edit', edit_bg_setup_path(@bg_setup) %> |
<%= link_to 'Back', bg_setups_path %>
