<p id="notice"><%= notice %></p>
<h2> 用户信息</h2 >
<hr>
<p>
  <b>ID:</b>
  <%= @user.id %>
</p>
<p>
  <b>用户名:</b>
  <%= @user.login %>
</p>

<p>
  <b>所属产品线:</b>
  <%#= @user.productline %>
</p>

<p>
  <b>角色:</b>
  <%= @user.role %>
</p>

<p>
  <b>专职部门:</b>
  <%= @user.dept1 %>
</p>

<p>
  <b>兼职部门:</b>
  <%= @user.dept2 %>
</p>

<p>
  <b>管理员:</b>
  <%= @user.admin_flag %>
</p>

<p>
  <b>邮箱地址:</b>
  <%= @user.email %>
</p>

<%#= link_to '编辑', edit_user_path(@user) %> 
<%= link_to '返回', needs_path %>
